
/* #region Base reset body*/
/* RESET*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html  {
  color-scheme: light;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Sniglet", sans-serif;
  background-color: rgb(199, 208, 216);
  height: 100%;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
}

/* Fundo fixo animado */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url('../SRC/IMG/back.png');
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: -1;
  animation: blinkbackground 5s ease-in-out infinite;
}

@keyframes blinkbackground {

  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    opacity: 0.1;
  }
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #c7d0d8 !important;
  }
}
/* #endregion */

/* #region HEADER*/
header {
  background-color: #001f49;
  color: #c7d0d8;
  padding: 2px;
  text-align: center;
  box-shadow: 0 20px 60px rgba(0,0,0,0.7);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-container h1 a {
  color: #c7d0d8;
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(18px, 3.5vw, 35px);
  transition: color 0.3s;
}

.nav-container h1 a:hover {
  color: #ffcc08;
  text-decoration: underline;
}

nav{
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

nav a {
  color: #c7d0d8;
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(12px, 3.5vw, 25px);
  transition: color 0.3s;
}

nav a:hover {
  color: #ffcc08;
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.social-icons a {
  color: #c7d0d8;
  font-size: 40px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #ffcc08;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  color: #c7d0d8;
  cursor: pointer;
}

 @media (max-width: 900px) {
  .menu-toggle {
    display: block;
  }

  header nav, header .social-icons {
    display: none;
    width: 100%;
    margin-top: 10px;
  }

  header nav.active {
    display: flex;
    flex-direction: column;
  }

  header .social-icons.active {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  header .nav-container {
    flex-wrap: wrap;
    align-items: center;
  }
}
/* #endregion */

main {
  width: 100%;
  position: relative;
  z-index: 1;
}

/* #region HERO SECTION */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(0rem, 4vw, 0rem);
  min-height: 200px;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

/* TEXTOS */
.hero-text {
  flex: 1 1 clamp(120px, 25vw, 300px);
  min-width: 120px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #001f49;
}

.hero-text.left {
  text-align: right;
  align-items: flex-end;
  padding-right: 0.5rem;
}

.hero-text.right {
  text-align: left;
  align-items: flex-start;
  padding-left: 0.5rem;
}

.hero-text h2 {
  font-size: clamp(18px, 3.5vw, 60px);
  margin-bottom: 8px;
  text-transform: upprcase;
  transition: transform 0.3s ease;
  animation: pulse 1.5s infinite ease-in-out;
}

.hero-text p {
  font-size: clamp(8px, 2vw, 25px);
  line-height: 1.4;
  margin: 0;
}

.hero-section:hover .hero-text {
  opacity: 0.3;
}

.hero-section:hover .hero-text:hover {
  opacity: 1;
}

.hero-section:hover .hero-text:hover h2 {
  transform: scale(1.2);
  transform: scale(1.2);
  animation: none;
}
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

/* IMAGEM */
.hero-image {
  flex: 0 1 clamp(200px, 30vw, 480px);
  aspect-ratio: 1 / 1;
  align-self: center;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 500px;
}

.hero-image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.hero-image .designer {
  z-index: 2;
  clip-path: polygon(0 0, 42% 0, 42% 100%, 0 100%);
  transition: clip-path 0.4s ease;
}

.hero-image .coder {
  position: relative;
  z-index: 1;
}
/* #endregion*/

/* #region INTRO */
.intro-section {
  padding: 1rem 5vw;
  background-color: #001f49;
  text-align: center;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  box-shadow: 0 -20px 60px rgba(0, 0, 0, 0.3);
}

.intro-section h2 {
  font-size: clamp(15px, 2vw, 30px);
  line-height: 1.4;
  color: #c7d0d8;
  margin: 0 auto;
  font-weight: 500;
  max-width: 100%;
}
.intro-section h3 {
  position: relative;
  display: inline-block;
  font-size: clamp(18px, 2.5vw, 32px);
  font-weight: 700;
  color: #ffcc08;
  margin: 60px 0 0;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  cursor: default;
}

.intro-section h3 span {
  display: inline-block;
  animation: bounceLetter 2s ease-in-out infinite;
}

.intro-section h3 span:nth-child(even) {
  animation-delay: 0.1s;
}

.intro-section h3 span:nth-child(odd) {
  animation-delay: 0.2s;
}

@keyframes bounceLetter {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

@keyframes wiggleLine {
  0%, 100% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.05) rotate(2deg);
  }
}
/* #endregion */

/* #region ICONS */
.intro-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: clamp(40px, 1vw, 240px);
  padding: 50px 0;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

/* Container de cada ícone */
.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: clamp(80px, 10vw, 120px);
}

  /* Ícones (FA, Devicon, Iconify) */
.icon-wrapper i,
.icon-wrapper iconify-icon {
    font-size: clamp(30px, 6vw, 80px);
    color: #c7d0d8;
    filter: grayscale(20%);
    transition: transform 0.2s ease, filter 0.2s ease;
}


.icon-wrapper:hover i,
.icon-wrapper:hover iconify-icon,
.icon-wrapper:hover .icons-label {
  filter: none;
  transform: scale(1.2);
  color: #ffcc08;
  transition: transform 0.2s ease, filter 0.2s ease, color 0.2s ease;
}
/* Texto abaixo dos ícones */
.icons-label {
  color: #c7d0d8;
  font-size: clamp(12px, 1.5vw, 24px);
  font-weight: 500;
  text-align: center
}
/* #endregion */

/* #region project */
.project-section {
  padding: 0 25px 0 25px;
  max-width: 100%;   /* opcional: limitar largura para centralizar seção */
  margin: 0 auto;
}

.project-section h2 {
  text-align: center;
  font-size: clamp(30px, 5vw, 80px);
  color: #001f49;
  margin: 0 0 40px;    /* margem abaixo para separar do conteúdo */
  flex-wrap: nowrap;
}

.project-section h2 span {
  padding: 50px 8px;  /* espaçamento lateral maior para dar respiro entre letras */
  display: inline-block;
  animation: bounceLetter 2s ease-in-out infinite;
}

.project-section span:nth-child(even) {
  animation-delay: 0.1s;
}

.project-section h2 span:nth-child(odd) {
  animation-delay: 0.2s;
}

.project-item {
  position: relative;
  overflow: hidden;
  background-color: #001f49dd;
  border-radius: 20px;
  padding: 0 20px;
  margin-bottom: 40px;
  display: flex;
  gap: 0px;
  align-items: center;
  transition: all 0.5s ease;
  color: #ffcc08;
  z-index: 1;
  aspect-ratio: 16 / 7;
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto; /* centraliza horizontalmente */
  margin-bottom: 50px;
  max-width: 1200px;
}

.card-text {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o texto verticalmente */
  align-items: center;     /* Centraliza o texto horizontalmente */
  text-align: center;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}

.project-item h3 {
  font-size: clamp(16px, 2.5vw, 46px);
  margin: 0 0 10px;
}

.project-item p {
  font-size: clamp(12px, 2vw, 22px);
  margin: 0;
  word-break: break-word;
}
.project-item .card {
  flex: 0 0 60%;
  height: 90%;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}

.project-item::before {
  content: '';
  position: absolute;
  top: -100%;
  left: -150%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    -45deg,
    transparent 0%,
    rgba(255, 189, 89, 0.25) 45%,
    rgba(255, 189, 89, 0.25) 55%,
    transparent 0%
  );
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.3s ease;
  z-index: 1;
  pointer-events: none;
}

.project-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 189, 89, 1);
}

.project-item:hover::before {
  opacity: 1;
  transform: translateX(100%);
}

/* keyframes da animação bounceLetter para spans do título */

@keyframes bounceLetter {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

/* #endregion */

/* #region FOOTER */
footer {
  position: relative;
  background-color: #001f49;
  color: #c7d0d8;
  padding: 60px 10px 0; 
  flex-direction: column;
  flex-wrap: nowrap;
}

.footer-arrow {
  position: relative;
  top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.circle-button {
  width: clamp(10px, 8vw, 80px);
  height: clamp(10px, 8vw, 80px);
  background-color: #001f49;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -3px 15px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: clamp(20px, 4vw, 30px);
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: 4px solid #c7d0d8;
  text-decoration: none;
}

.circle-button:hover {
  background-color: #ffcc08;
  color: #001f49;
  transform: translateY(-5px);
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  flex-wrap: nowrap; /* <-- Isso impede que o conteúdo quebre para nova linha */
  gap: 20px;
}

.footer-content p {
 color: #c7d0d8;
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(6px, 2vw, 16px);
  transition: color 0.3s;
}

.footer-links {
  display: flex;
  gap: 30px

}

.footer-links a, .footer-content a {
 color: #c7d0d8;
  text-decoration: none;
  font-weight: bold;
  font-size: clamp(6px, 2vw, 16px);
  transition: color 0.3s;
  margin: 0 auto;
}

.footer-links a:hover, .footer-content a:hover {
   color: #ffcc08;
  text-decoration: underline;
}


/* #endregion */